<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <style>
      body {
        margin: 0;
        padding: 20px;
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
      }

      .typography-text {
        max-width: 100%;
        hyphens: auto;
        word-wrap: break-word;
        text-align: justify;
        font-size: 1.1rem;
      }
    </style>
    <title>Типографика</title>
  </head>
  <body>
    <div class="typography-text">
      HTTP — протокол прикладного уровня передачи данных, изначально — в виде
      гипертекстовых документов в формате HTML, в настоящее время используется
      для передачи произвольных данных.
    </div>
  </body>
</html>
