@import './styles/vars.scss';

#root {
  // max-width: 1320px;
  // text-align: center;
}

h3,
h4 {
  margin: 0;
  padding: 0;
}

h3 {
  min-width: 30%;
}

p {
  background-color: lightgray;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  padding-left: 10px;
}

ul {
  background-color: lightgray;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  padding-left: 30px;
  padding-block: 0;
}

button {
  cursor: pointer;
  background-color: lightblue;
  padding: 0.5em 2em;
  border-radius: 100px;
  border: none;
  &:hover {
    background-color: darken($main-color, 10%);
    transition: 0.3s;
  }
}

.App {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

.component {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-block: 10px;
}

.IncrementDecrement > h4 {
  align-self: center;
}

.FetchData > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.depth div {
  border-radius: 5px;
  padding-left: 5px;
  background-color: rgba(75, 169, 60, 0.253);
}
